*{margin: auto; padding:0; }
html{
    width: 95%; height: 95%;
    background-color: black;
}
body{
    width: 100%; height: 100%;
    background-color:pink;
    margin: auto;
}

header{
    width: 100%; height: 10%;
    background-color:yellow;
    
}

nav {
    width: 100%; height: 10%;
    background-color: rgb(108, 48, 48);
}

main {
    width: 100%; height: 70%;
    background-color:rgb(217, 217, 82);
}

aside#left {
    width: 20%; height: 100%;
    background-color:rgb(240, 69, 5);
    float: left;
}
article {
    width: 60%; height: 100%;
    background-color:rgb(35, 203, 21);
    float: left;
}
aside#right {
    width: 20%; height: 100%;
    background-color:rgb(32, 50, 150);
    float: left;
    
}
 footer {
    width: 100%; height: 10%;
    
    background-color: rgb(232, 232, 26);
}