*{margin: auto; padding:0; }
html{
    width: 95%; height: 95%;
    background-color: black;
}
body{
    width: 100%; height: 100%;
    background-color:pink;
    margin: auto;
}

header{
    width: 100%; height: 10%;
    background-color:yellow;
    
}

nav {
    width: 100%; height: 10%;
    background-color: rgb(255,0,0);
}

main {
    width: 100%; height: 70%;
    background-color:rgb(0, 0,255);
}

aside#left {
    width: 20%; height: 100%;
    background-color:rgb(102, 51, 153);
    float: left;
}
article {
    width: 60%; height: 100%;
    background-color:rgb(244, 164, 96);
    float: left;
}
aside#right {
    width: 20%; height: 100%;
    background-color:rgb(127, 255, 0);
    float: left;
    
}
 footer {
    width: 100%; height: 10%;
    
    background-color: rgb(128, 128, 0);
}