*{margin: auto; padding:0; }
html{
    width: 95%; height: 95%;
    background-color: black;
}
body{
    width: 100%; height: 100%;
    background-color:white;
    margin: auto;
}

header{
    width: 40%; height: 10%;
    background-color:#eaad3a;
    
}

nav {
    width: 100%; height: 10%;
    background-color: rgb(245, 255, 0);
}

main {
    width: 100%; height: 70%;
    background-color:rgb(0, 255, 0);
}

aside#left {
    width: 30%; height: 100%;
    background-color:rgb(232, 196, 97);
    float: left;
}
article {
    width: 40%; height: 100%;
    background-color:rgb(134, 67, 10);
    float: left;
}
aside#right {
    width: 10%; height: 100%;
    background-color:rgb(65, 118, 12);
    float: left;
    
}
 footer {
    width: 60%; height: 39%;
    
    background-color: rgb(24, 59, 208);
}