*{margin: auto; padding:0; }
html{
    width: 95%; height: 95%;
    background-color: black;
}
body{
    width: 100%; height: 100%;
    background-color:pink;
    margin: auto;
}

header{
    width: 100%; height: 10%;
    background-color:yellow;
    
}

nav {
    width: 100%; height: 10%;
    background-color: rgb(92, 104, 144);
}

main {
    width: 100%; height: 70%;
    background-color:rgb(255, 0, 226);
}

aside#left {
    width: 20%; height: 100%;
    background-color:rgb(237, 218, 215);
    float: left;
}
article {
    width: 60%; height: 100%;
    background-color:rgb(20, 222, 230);
    float: left;
}
aside#right {
    width: 20%; height: 100%;
    background-color:rgb(134, 183, 85);
    float: left;
    
}
 footer {
    width: 100%; height: 10%;
    
    background-color: rgb(152, 152, 81);
}